[user]
    name  = Volodymyr But
    email = git@hiegz.com

[alias]
    aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1: \\2/g'

    alldogs = "log --all --decorate --oneline --graph --stat"
    adog    = "log --all --decorate --oneline --graph"
    lg      = "log --all --decorate --graph --stat --format=fuller"

    amend   = "commit --amend --no-edit"
    reword  = "commit --amend"

[core]
    editor = nvim
    ignorecase = false

[status]
    submoduleSummary = true
    showUntrackedFiles = all

[credential]
    helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
